@import "variables.css";

body {
    background: var(--editor-bg);
    @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
