@import "variables.css";

*,
*:after,
*:before {
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--editor-bg);
    @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.inline-code {
    padding: 2px 5px;
    border-radius: 4px;
    background: #f8fafc;
    border: 1px solid #e2e8f0;
}

